.traerAdelante {
	position: relative;
	z-index: 2;
}

.contenedorMsg {
	margin-bottom: calc(2vh + 2vw);
	padding: 0 calc(3vh + 3vw);
}

.verComentarios {
	font-size: calc(1.25vh + 1.25vw);
	font-weight: bold;
}

.comentarioMsg {
	background-color: white;
	padding: calc(1vh + 1vw);
	border: 1px solid #CCC;
	border-radius: 25px;
}

.flag {
	cursor: crosshair;
	font-size: calc(1.25vh + 1.25vw);
	font-weight: bold;
}

.redFlag {
	color: red;
}

.fondoOscuro {
	position: absolute;
	width: 100%;
	height: 1000vh;
	background-color: rgba(0,0,0,0.7);
	top: 0;
	z-index: 9999;
}