.traerAdelante {
	position: relative;
	z-index: 2;
}

.contenedorMsg {
	margin-bottom: calc(2vh + 2vw);
	padding: 0 calc(3vh + 3vw);
}

.comentarioMsg {
	background-color: white;
	padding: calc(1vh + 1vw);
	border: 1px solid #CCC;
	border-radius: 25px;
}

#flag {
	cursor: crosshair;
}

.redFlag {
	background-color: red;
}