body{
    background-image: url(../img/bg_h1.jpg);
    background-attachment: fixed;
    font-family: 'Aclonica', sans-serif;
}
.bt-sr{
    border-color: black;
    background-color: gray;
    color:black;
}
.bt-sr:hover{
    border-color: black;
    background-color: black;
    color:grey;

}
.bt-sr:active{
    border-color:lightblue
    background-color:blue;
    color:black;
}