.imper{
    margin:10px;
    margin-left: 7%;
    float: left;
    height: 11em;
    width: 11em;
    background-color: blue;
    border-radius: 60%
    
}
.datper{
    
margin-top:3.5rem;
height: 12em;
width: 100%;
}
.fondito{

height:100%;
width: 100%;
    background-repeat: no-repeat;
background-image: url(../img/post-board.png);
background-size: cover;
}
.am{
    margin:10px;
    height: 40em;
    width: 10em;
    background-color: green;
}
.com{
    margin:10px;
    height: 40em;
    width: 10em;
    background-color: blue;
}
.po{
    margin:10px;
    height: 40em;
    width: 10em;
    background-color: yellow;
}
.fa{
    margin:10px;
    height: 40em;
    width: 10em;
    background-color: red;
}
.row{
    justify-content: space-around;
    width: 100%
}
.datperda{
    position: relative;
    top: 3.5rem
}
